name: Continuous Integration

on: [push]

jobs:
  format:
    name: Format & Lint check
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: uv sync --extra cpu --extra dev

      - name: Lint check
        run: uv run ruff check

      - name: Format check
        run: uv run ruff format --check

  typing:
    name: Static Type Checking
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: uv sync --extra cpu --extra dev

      - name: Mypy
        run: uv run mypy .

  unit-test:
    name: unit test
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: uv sync --extra cpu --extra dev

      - name: Test with pytest
        run: uv run pytest
